html{
	padding: 0;
	margin: 0;
}

body{
	background-color: #e4e4e4;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Header*/
header h1{
	text-decoration: underline;
}

/*Map general*/
.map{
	margin: auto;
	/*border: 1px solid red;*/
}

.map div{
	justify-content: center;
}

.grid-container{
	display: grid;
}

.grid-item{
	border: 1px solid black;
}

/*Tiles*/
.tile{
	height: 50px;
	width: 50px;
}

.tile p{
	text-align: center;
	margin: 0;
	font-weight: bold;
}

.unknown{
	background-color: #96a398;
}

.grass{
	background-color: #06ad25;
}

.water{
	background-color: #0856d3;
}

.treasure{
	background-color: #f4a907;
}